<form action="/figures/show" method="post" >
  <input type="text" name="figure[name]" placeholder="Figure Name">
  <input type="text" name="figure[title_ids][]" placeholder="Figure Titles">
  <input type="text" name="figure[landmark_ids][]" placeholder="Figure Landmark">
  <input type="text" name="landmark[name]" placeholder="Landmark Name">
  <input type="text" name="title[name]" placeholder="Title Name">


</form>
